body {
	background-image: url('../src/BG.png');
}

.designer {
	float: right;
}

#logo {
	float: left;
}

.navbar li {
	display: inline-block;
	text-transform: uppercase;
}

.container li {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
}

a {
    color: black;
	text-decoration: none;
	color: #000;
}

.active li {
	text-decoration: none;
	color: #ff0000;
}

h1 {
	font-family: verdana;
	font-weight: lighter;
	text-align: center;
	color: #8c8c8c;
}

li {
	font-family: verdana;
	font-weight: lighter;
}

p {
	font-family: verdana;
	font-weight: lighter;
}

div.images {
	text-align: center;
}

img {
	cursor: pointer;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

p.feat {
	border: 0px solid;
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 20px -5px #000000;
}